# For Render / production OAuth.
# Generate the refresh token locally using: npm run oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

# Optional
INPUT_FILE=data/video-prime.json
OUTPUT_FILE=data/video-prime-yt.json
SUCCESS_FILE=data/success.json
ERROR_FILE=data/error.json
TEMP_DIR=temp
YTDLP_CONCURRENT_FRAGMENTS=8
